/*Palette*/
:root {
    --Nero: #161616;
    --GrigioScuro: #161616;
    --GrigioChiaro: #2C2C2C;
    --Bianco: #E8EAED;

    --Rosso: #AF0202;
    --Verde: #02AF16;

    --Sidebar-Pad: 10px;
    --Sidebar-Gap: 25px;
    --Sidebar-Width-Closed: 63px;

    --Sidebar-Width-Open: 300px;
    --Sidebar-LPad-Open: 15px;

    --Generic-Shadow: 0px 15px 25px var(--Nero);

    --Login-BG: #1C1C1C;
    --Accedi-Width: 75vw;
    --Accedi-Height: 60vh;
    --Accedi-CR: 15px;
    --Accedi-Margin: 40px;
    --Accedi-Dir: row;
    --Accedi-Top: 10vmin;
    --Accedi-Container-Height: 100%;
    --Login-Field-Height: 60px;
    --Login-Field-CR: 12px;
    --Login-Field-Pad: 20px;
    --Login-Button-CR: 20px;
}

*[mobile] {
    display: none;
}

@media only screen and (max-width: 700px) {
    :root {
        --Sidebar-Width-Open: 100vw;
        --Accedi-Dir: column;
        --Accedi-Width: 90vw;   
        --Accedi-Height: 90vh;   
        --Accedi-Margin: 20px;
        --Accedi-Top: 0px;
        --Accedi-Container-Height: auto;
    }

    *[mobile] {
        display: block;
    }
}

/*Fonts*/
@font-face {
    font-family: SFPro;
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
    font-weight: normal;
}
@font-face {
    font-family: SFPro;
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
    font-weight: bolder;
}
@font-face {
    font-family: SFPro;
    src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
    font-weight: medium;
}
@font-face {
    font-family: SFPro;
    src: url(../fonts/SFPRODISPLAYLIGHTITALIC.OTF);
    font-weight: 10;
}

* {
    font-family: SFPro;
    font-weight: normal;
}

/*Icone di google*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

/*Body*/
body{
    margin: 0%;
    background-color: var(--GrigioChiaro);
}

a {
    color: var(--Bianco);
}

#Z {
    top: 16px;
    position: fixed;
    width: 35px;
    color: var(--Bianco);
    align-content: center;
}

#EsciAccount{
    display: none;
    width: 100%;
    text-align: center;
    color: var(--Rosso);
    background-color: unset;
    border: 0;
    font-weight: bold;
    font-size: 8px;
}

#PulsanteIcona {
    display: flex;
    color: var(--Bianco);
    background-color: unset;
    border: 0;

    cursor: pointer;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    width: inherit;
}

#Sidebar-Account{
    display: flex;
    align-self: anchor-center;
    color: var(--Bianco);
    background-color: unset;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    width: inherit;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    padding-left: 20px;
    width: auto;
    align-items: center;
    align-content: center;
}

#PulsanteAccount{
    bottom: 16px;
    position: fixed;
    width: 35px;
    color: var(--Bianco);
    background-color: unset;
    align-content: center;
    border: 0;

    cursor: pointer;
    user-select: none;
}

#Icona{
    font-size: 35px;
}

/* Sidebar in elemento custom (per gestirlo in JS)*/
zam-sidebar {
    background-color: var(--GrigioScuro);
    height: 100%;
    width: calc(35px + (var(--Sidebar-LPad-Open) / 4));

    position: fixed;
    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
    padding-left: var(--Sidebar-LPad-Open);
    padding-right: var(--Sidebar-LPad-Open);

    flex-wrap: nowrap;

    gap: var(--Sidebar-Gap);

    z-index: 2 !important;

    transition: width 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

    border-right: 1px var(--GrigioChiaro) solid;

    -webkit-box-shadow: 24px 0px 50px -3px rgba(0,0,0,0.40); 
    box-shadow: 24px 0px 50px -3px rgba(0,0,0,0.40);
}

#SidebarText {
    font-size: 23px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    padding-left: 20px;
    width: auto;
}

#SidebarAccTitle{
    font-size: 23px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 100%;
    margin: 0px;
    text-align: left;
}

#SidebarAccIcon {
    margin-bottom: var(--Sidebar-Pad);
}

zam-sidebar[open] #SidebarAccIcon {
    margin-bottom: 0px !important;
}

#SidebarAccDesc{
    font-size: 13px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 100%;
    margin: 0px;
    text-align: left;
}
zam-sidebar > :first-child {
    margin-top: var(--Sidebar-Pad);
}

zam-sidebar > :last-child {
    margin-bottom: var(--Sidebar-Pad);
}

zam-sidebar[open] {
    width: var(--Sidebar-Width-Open);
    align-items: flex-start;
    
    padding-left: var(--Sidebar-LPad-Open);
}

span[id="Icona"] {
    cursor: pointer;
}

zam-spacer {
    flex: 1;
}

zam-icon {
    margin-left: calc(var(--Sidebar-LPad-Open) / 4);
    background-image: url("../svg/Z.svg");
    background-repeat: no-repeat;

    width: 35px;
    height: 35px;

    cursor: pointer;
    user-select: none;
}

#sidebar-iconBig{
    margin-top: 10px;
    margin-left: calc(var(--Sidebar-LPad-Open) / 4);
    background-repeat: no-repeat;

    width: auto;
    height: 35px;
    display: none;

    cursor: pointer;
    user-select: none;
}

#zam-map {
    z-index: -1 !important;
}

.ZAMLogo {
    margin-top: 10px;
    margin-left: calc(var(--Sidebar-LPad-Open) / 4);
    background-repeat: no-repeat;

    width: fit-content;
    height: 40px;

    cursor: pointer;
    user-select: none;
}

.LoginBody {
    background-color: var(--Login-BG);
    display: flex;

    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.Accedi {
    display: flex;
    flex-direction: var(--Accedi-Dir);

    width: var(--Accedi-Width);
    height: var(--Accedi-Height);

    background-color: var(--GrigioScuro);
    border-radius: var(--Accedi-CR);

    color: var(--Bianco);
    box-shadow: var(--Generic-Shadow);   
}

.AccediContainer {
    display: flex;
    flex-direction: column;

    width: var(--Accedi-Container-Height);

    color: var(--Bianco);

    margin-left: var(--Accedi-Margin);
    margin-right: var(--Accedi-Margin);

    margin-top: calc(var(--Accedi-Margin) / 2);
    margin-bottom: calc(var(--Accedi-Margin) / 2);

    line-height: 5px;
}

.AccediTop {
    margin-top: var(--Accedi-Top);
}

.AccediText {
    font-weight: normal;
    line-height: normal;
    margin: 0;
    width: 75%;
}

*[light] {
    font-family: SFPro;
    font-weight: 10;
}

.LoginField {
    background-color: #ffffff30;
    border: 1px solid #ffffff60;
    padding-left: var(--Login-Field-Pad);
    padding-right: var(--Login-Field-Pad);

    font-family: SFPro;
    color: var(--Bianco);
    font-size: large;
    
    height: var(--Login-Field-Height);
    border-radius: var(--Login-Field-CR);
    margin-bottom: 15px;
}

.LoginButton {
    width: 150px;

    background-color: var(--Bianco);
    
    color: var(--Nero);
    font-size: large;

    border: none;
    padding: 5px;

    border-radius: var(--Login-Button-CR);
    cursor: pointer;

    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.LoginButton:disabled {
    color: var(--GrigioScuro);
    background-color: var(--GrigioChiaro);
    cursor: not-allowed;
}

.ButtonSpacer {
    padding-top: 4vmin;
}

div[row] {
    display: flex;
    flex-direction: row;
    align-items: center;
}