[submodule "lib/zam-map"]
	path = lib/zam-map
	url = https://github.com/ZAM-2025/zam-map
[submodule "lib/zam-auth"]
	path = lib/zam-auth
	url = https://github.com/ZAM-2025/zam-auth
[submodule "lib/zamcaptcha-js"]
	path = lib/zamcaptcha-js
	url = https://github.com/ZAM-2025/zamcaptcha-js
